@{
    ViewData["Title"] = "Home Page";

}

@model HomeModel

<div class="container-fluid epj-nav">
    <div class="row">
        <div class="col">
            <h1>EPJ Emulator</h1>
        </div>
    </div>
</div>
<iframe frameborder="1" height="500px" width="100%" src="@Model.SfmClientUrl"></iframe>